.skin.body.up,
.skin.body.down  {
  --width: 8;
  --height: 4;

  width: calc(var(--scale) * var(--width) * 1px);
  height: calc(var(--scale) * var(--height) * 1px);

  &::before {
    scale: calc((var(--width) + 2 * var(--layer-offset)) / var(--width)) calc((var(--height) + 2 * var(--layer-offset)) / var(--height));
  }
}
.skin.body.front,
.skin.body.back {
  --width: 8;
  --height: 12;

  width: calc(var(--scale) * var(--width) * 1px);
  height: calc(var(--scale) * var(--height) * 1px);

  &::before {
    scale: calc((var(--width) + 2 * var(--layer-offset)) / var(--width)) calc((var(--height) + 2 * var(--layer-offset)) / var(--height));
  }
}
.skin.body.left,
.skin.body.right {
  --width: 4;
  --height: 12;

  width: calc(var(--scale) * var(--width) * 1px);
  height: calc(var(--scale) * var(--height) * 1px);

  &::before {
    scale: calc((var(--width) + 2 * var(--layer-offset)) / var(--width)) calc((var(--height) + 2 * var(--layer-offset)) / var(--height));
  }
}

.skin.body.up {
  background-position: calc(var(--scale) * -20px) calc(var(--scale) * -16px);
  transform:
    rotateX(90deg)
    translateZ(calc(var(--scale) * 7px));

  &::before {
    background-position: calc(var(--scale) * -20px) calc(var(--scale) * -32px);
  }
}
.skin.body.down {
  background-position: calc(var(--scale) * -28px) calc(var(--scale) * -16px);
  transform:
    scaleX(-1)
    rotateX(90deg)
    rotateY(180deg)
    translateZ(calc(var(--scale) * 5px));

  &::before {
    background-position: calc(var(--scale) * -28px) calc(var(--scale) * -32px);
  }
}
.skin.body.front {
  background-position: calc(var(--scale) * -20px) calc(var(--scale) * -20px);
  transform:
    translateY(calc(var(--scale) * -1px))
    translateZ(calc(var(--scale) * 2px));

  &::before {
    background-position: calc(var(--scale) * -20px) calc(var(--scale) * -36px);
  }
}
.skin.body.back {
  background-position: calc(var(--scale) * -32px) calc(var(--scale) * -20px);
  transform:
    rotateY(180deg)
    translateY(calc(var(--scale) * -1px))
    translateZ(calc(var(--scale) * 2px));

  &::before {
    background-position: calc(var(--scale) * -32px) calc(var(--scale) * -36px);
  }
}
.skin.body.left {
  background-position: calc(var(--scale) * -28px) calc(var(--scale) * -20px);
  transform:
    rotateY(90deg)
    translateY(calc(var(--scale) * -1px))
    translateZ(calc(var(--scale) * 4px));

  &::before {
    background-position: calc(var(--scale) * -28px) calc(var(--scale) * -36px);
  }
}
.skin.body.right {
  background-position: calc(var(--scale) * -16px) calc(var(--scale) * -20px);
  transform:
    rotateY(-90deg)
    translateY(calc(var(--scale) * -1px))
    translateZ(calc(var(--scale) * 4px));

  &::before {
    background-position: calc(var(--scale) * -40px) calc(var(--scale) * -36px);
  }
}
